/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    background-color: rgba(77, 65, 148, 0.578);
}

/* 

PRIMA SOLUZIONE

*/

/* .carousel-container {
    background-color: rgb(166, 113, 113);
    margin: 0 auto;
    width: 50%;
    height: 80vh;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  button {
    background-color: rgba(90, 90, 90, 0.823);
    color: white;
    border-radius: 20px;
    font-size: larger;
    padding: 3px 10px;
    position: relative; bottom: 40px;
    margin: 0px 10px;
  }
 */


 /* 
 
 
 SECONDA SOLUZIONE
 
 
 */

 .carousel-container {
  width: 50%;
  margin: 0 auto;
 }

 img {
  width: 100%;
 }

 .slide {
  padding-top: 30px;
  width: 30vw;
  margin: 0 auto;
 }

 button {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 20px;
 }